<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="GAAPLOGIC" class="img-responsive text-center" width="500px" src="modules/core/img/brand/GAAPLOGIC grey.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Decision tools to solve complex accounting issues
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://gaaplogic.com" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<p>GAAPLogic is a set of decision tools to help you apply some of the most complex accounting guidance ever conceived. We believe that the application of accounting rules should not be the private domain of very expensive accounting firms and subject matter experts. Application of GAAP is usually a methodical process that lends itself to decision analysis. GAAPLogic is just that, a decision analysis toolset designed to save you time and money while applying GAAP to even the most complex transactions.</p>
	</div>
	<div class="well">
		<h2>Tools Available Today</h2>
		<p>
			We are developing new tools to cover additional areas of GAAP all the time!
			<ul>
				<li><a target="_blank" href="http://gaaplogic.com/etl">Equity-Linked Transactions</a>
				</li>
				<li><a target="_blank" href="http://gaaplogic.com/vie">Variable Interest Entity Consolidation Model</a>
				</li>
				<li><a target="_blank" href="http://gaaplogic.com/revrec">Revenue Recognition</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The GAAPLogic Team.
</section>
